.pokemon-card {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 340px;
    text-align: center;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
}
