.pokemonPage {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    width: 1060px;
    margin: 0 auto;
    h2 {
        font-size: 40px;
    }
    .pokemonList {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

}

